@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header{

    @include flexCenter();

    background: $red;
    height: 100vh;
    //Nesting - Awesome!!
    button{
        background: $lightPurple;
        color: $red;

        //We use & to indicate parent
        &:hover{
            background: $white;
            color: $lightPurple;
        }

        &::after{
            content: "*";
            color: $red;
        }
    }
}