@mixin flexCenter($direction, $color) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $color;
    height: 100vh;
}

header{

    @include flexCenter(column, $red);

    // background: $red;
    //Nesting - Awesome!!
    button{
        background: $lightPurple;
        color: $red;

        //We use & to indicate parent
        &:hover{
            background: $white;
            color: $lightPurple;
        }

        &::after{
            content: "*";
            color: $red;
        }
    }
}